/*
  Smart Buttons for GitHub 1.0
  by Dipu
  
  http://www.techlaboratory.net
*/
.s-buttons {
  position:relative;
  display:block;
  margin: 0;
  padding:0;
  border: 0px solid #CCC;
}
.s-buttons ul {
  list-style-type: none;
  padding:0;
  border: 0;  
}
.s-buttons ul li {
  float:left;
  margin-left:10px;
  text-align: center;
}
.s-buttons .button {
  position:relative;
  display:inline-block;
  color:#333;
  font-family:Helvetica,arial,freesans,clean,sans-serif;
  font-weight:bold;
  white-space:nowrap;
  border:1px solid #d4d4d4;
  border-bottom-color:#bcbcbc;
  cursor:pointer;
  text-decoration: none;  
  background:#fafafa;  
  background: -moz-linear-gradient(#fafafa, #eaeaea); /* FF 3.6+ */  
  background: -ms-linear-gradient(#fafafa, #eaeaea); /* IE10 */  
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #eaeaea)); /* Safari 4+, Chrome 2+ */  
  background: -webkit-linear-gradient(#fafafa, #eaeaea); /* Safari 5.1+, Chrome 10+ */  
  background: -o-linear-gradient(#fafafa, #eaeaea); /* Opera 11.10 */  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#eaeaea'); /* IE6 & IE7 */  
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#eaeaea')"; /* IE8+ */  
  background: linear-gradient(#fafafa, #eaeaea); /* the standard */  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
} 
.s-buttons .button:hover{
  color:#fff;
  border-color:#518cc6;
  border-bottom-color:#2a65a0;
  background:#599bdc;  
  background: -moz-linear-gradient(#599bdc, #3072b3); /* FF 3.6+ */  
  background: -ms-linear-gradient(#599bdc, #3072b3); /* IE10 */  
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #599bdc), color-stop(100%, #3072b3)); /* Safari 4+, Chrome 2+ */  
  background: -webkit-linear-gradient(#599bdc, #3072b3); /* Safari 5.1+, Chrome 10+ */  
  background: -o-linear-gradient(#599bdc, #3072b3); /* Opera 11.10 */  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bdc', endColorstr='#3072b3'); /* IE6 & IE7 */  
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bdc', endColorstr='#3072b3')"; /* IE8+ */  
  background: linear-gradient(#599bdc, #3072b3); /* the standard */    
}
.s-buttons .button .icon{
  display:block;
  float:left;
  background: url(../images/github-icons.png) no-repeat scroll 0 0 transparent;
  vertical-align: middle;
}
.s-buttons .button:hover .icon{
  background: url(../images/github-icons.png) no-repeat scroll -25px 0 transparent;
}
.s-buttons .count{
  border:1px solid #D4D4D4;
  color:#333;
  background-color:#fafafa;
  position:relative;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;  
}
.s-buttons .count:hover{
  color:#4183c4;cursor:
  pointer;text-decoration:none;
}
.s-buttons .count .arrow{
  position :absolute; 
  background-repeat: no-repeat;
}
/* Button size */
.s-buttons-small .button{
  padding:1px 5px 0 5px;
  font-size:11px;
  font-weight:bold;
  line-height:17px;
}
.s-buttons-small .button .icon{
  height: 16px;
  width: 14px;  
  margin-right: 3px;
}
.s-buttons-small .count{
  font-size:12px;
  font-weight:bold;  
  padding:2px 5px;
  line-height:16px;
  margin-left:7px;  
}
.s-buttons-small .count .arrow{ 
  background-image: url(../images/sb_arrow-grey.png);
  left:-5px;
  top:4px;
  width:6px;
  height:10px;  
}
.s-buttons-medium .button{
  padding:0 10px 0 8px;
  font-size:13px;
  font-weight:bold;
  line-height:25px;
} 
.s-buttons-medium .button .icon{
  height: 16px;
  width: 14px;  
  margin:4px 4px 0 0;
}
.s-buttons-medium .count{
  font-size:13px;
  font-weight:bold;  
  padding:5px 7px 4px;
  line-height:20px;
  margin-left:7px;
}
.s-buttons-medium .count .arrow{ 
  background-image: url(../images/sb_arrow-grey.png);
  left:-5px;
  top:6px;
  width:6px;
  height:10px;  
}
.s-buttons-large .button{
  padding:2px 2px 1px 2px;
  font-size:11px;
  font-weight:bold;
  line-height:17px;
} 
.s-buttons-large .button .icon{
  height: 16px;
  width: 14px;  
  margin-right: 3px;
}
.s-buttons-large .count{
  display:block;
  font-size:23px;
  font-weight:normal;  
  padding:8px 5px;
  line-height:20px;
  margin-left:auto;
  margin-right:auto; 
  margin-bottom:6px;    
  clear:both;
  width:35px;
  text-align: center;
  white-space:nowrap;
}
.s-buttons-large .count .arrow{ 
  background-image: url(../images/sb_arrow-grey-down.png);
  bottom:-5px;
  width:10px;
  height:6px;  
  left:6px;
}